<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Unified Listing Image API</title>
    {{>common-includes}}
  </head>
  <body>
    {{{body}}}

    <script type="text/javascript">
        // Initialise Foundation.
        $(document).foundation();
    </script>
  </body>
</html>
